body {
  background-image: url(./images/bg.jpeg);
  background-repeat: repeat;
  margin: 50px;
  text-align: center;
  font-family: 'Century', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(148, 25, 225);
}
